<h1>Chỉnh sửa hàng hóa</h1>

<%= render 'validation_errors', object: @hang_hoa %>

<%= render 'form' %>

<% link_to 'Show', admin_hang_hoa_path(@hang_hoa) %>
<% link_to 'Back', admin_hang_hoas_path %>
