// Place all the styles related to the admin/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Dashboard */

.admin-body {
	background-color: #e6eeff;
}

/* .main-board {
	width: 83.33333333%;
} */

.dashboard-wrapper {
	background-color: #e6eeff;
	height: 100%;
}

.dashboard-content {
	margin: 5px 30px 0px 30px;
}

.sidebar {
	padding: 0;
	background-color: #4980F9;
	height: 100vh;
	width: 16.66666667%;
	box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.dashboard-store-logo {
	padding: 25px 0;
	text-align: center;
	margin: 0 25px;
	border-bottom: 1px solid rgba(153, 185, 255, 0.6);
}

.dashboard-menu ul {
	list-style: none;
	padding-left: 0;
	margin-top: 25px;
}

.dashboard-menu li {
	margin: 10px;
	font-size: 1.2em;
	padding: 12px 15px;
	font-weight: 300;
	border-radius: 5px;
}

.dashboard-menu li:hover {
	background-color: #6696ff;
	transition: all 0.5s ease;
}

.dashboard-menu p {
	margin-bottom: 0;
	font-weight: 300;
}

.dashboard-menu a {
	text-decoration: none;
	color: #fff;
}

.dashboard-menu a:hover {
	color: #fff;
}

.dashboard-menu-active {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(50,50,93,.05), 0 2px 5px rgba(0,0,0,.08);
}

.dashboard-menu-active a {
	color: #4980F9;
}

.dashboard-menu-active a:hover {
	color: #fff;
}

.dashboard-menu i {
	float: left;
	font-size: 1.6em;
	margin-right: 15px;
	text-align: center;
	vertical-align: middle;
}

.dashboard-navbar {
	background-color: transparent;
}

.dashboard-navbar .navbar-header {
	margin-left: 15px !important;
}

.dashboard-navbar .navbar-right {
	margin: 15px 0 0 0 !important;
}

.dashboard-navbar .nav>li>a:hover {
	background-color: transparent;
}

.dashboard-income-static {
	margin-top: 60px;
}

.card {
	display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}

.card-header {
	margin: -20px 15px 0;
	border-radius: 3px;
	padding: 10px;
	float: left;
	text-align: center;
	background-color: #4980F9;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15)
}

.card-header i {
	width: 46px;
	height: 46px;
	line-height: 46px;
	font-size: 2.2em;
	color: #fff;
}

.card-content {
	text-align: right;
	padding: 10px 20px 15px 20px;
	color: #999;
}

.card-content p {
	margin: 0 !important; 
}

.card-static {
	margin: 0 !important;
	font-size: 1.8em;
}

.card-footer {
	border-top: 1px solid #eee;
	margin: 0 20px 10px;
	padding-top: 10px;
	color: #999;
}

/* LOGIN */

.login-body {
	position: relative;
	height: 100vh;
	background-color: #4980F9;
	color: #fff;
}

.login-wrapper {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-wrapper img {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.login-wrapper input {
	margin-bottom: 20px;
}

.login-wrapper label {
	font-weight: 400;
	font-size: 1.2em;
}

.login-wrapper .btn {
	display: block;
	margin-top: 20px;
	width: 100%;
	font-size: 1.2em;
}

.custom-form {
	font-size: 1.2em;
}

.custom-form label {
	font-weight: 600;
}

.commas {
	padding: 0 14px !important;
}