<p>Xin chào <%= @email %>!</p>

<p>Quý khách đã đăng ký tài khoản trên cửa hàng BL, để sử dụng tài khoản xin vui lòng</p>

<p><%= link_to 'Nhấn vào đây để xác nhận thông tin và kích hoạt tài khoản', confirmation_url(@resource, confirmation_token: @token) %></p>
